@font-face {
    font-family:  nb;
    src: url(./NBInternationalProBoo.ttf);
}
@font-face {
    font-family:  rejoy;
    src: url(./Rejouice-Headline.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nb;

}

html, body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100vw;
    background-color: #6d6969;
    position: relative;
}

.cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: rgba(0, 0, 0, 0.742);
    border-radius: 50%;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
    transition: all linear 0.1s;
    
}
.cursor h5{
    font-size: 1.2vw;
    color: white;
}

#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#page1-content{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 20vh; */
}
nav{
    display: flex;
    width: 100%; 
    align-items: center;
    justify-content: space-between;
    padding: 3vw 3vw ;
}

nav h3{
    font-size: 1.4vw;
    font-weight: 100;
}

nav h4{
    font-size: 1.3vw;
    font-weight: 120;
}

#page1-content h1{
   
    display: flex; /* Ensures spans align horizontally */
    justify-content: center; /* Center aligns horizontally */
    align-items: center;
    font-family: rejoy;
    font-size: 25vw;
    margin: 0;
    margin-bottom: 5vh;
    overflow: hidden;
}

#page1-content h1 span {
    display: inline-block; 
    opacity: 0; 
    transform: translateY(50px); 
    animation: fadeUp 0.8s ease-in-out forwards;
}

#page1-content h1 span:nth-child(1) {
    animation-delay: 0s;
}

#page1-content h1 span:nth-child(2) {
    animation-delay: 0.2s;
}

#page1-content h1 span:nth-child(3) {
    animation-delay: 0.4s;
}

#page1-content h1 span:nth-child(4) {
    animation-delay: 0.6s;
}

#page1-content h1 span:nth-child(5) {
    animation-delay: 0.8s;
}

#page1-content h1 span:nth-child(6) {
    animation-delay: 1s;
}

#page1-content h1 span:nth-child(7) {
    animation-delay: 1.2s;
}

#page1-content h1 span:nth-child(8) {
    animation-delay: 1.4s;
}


@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}