@font-face {
    font-family:  nb;
    src: url(./NBInternationalProBoo.ttf);
}
@font-face {
    font-family:  rejoy;
    src: url(./Rejouice-Headline.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nb;

}

html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#page1{
    height: 100vh;
    width: 100vw;
    background-color: #6d6969;
    position: relative;
}

.cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: rgba(0, 0, 0, 0.742);
    border-radius: 50%;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
    transition: all linear 0.1s;
    
}
.cursor h5{
    font-size: 1.2vw;
    color: white;
}

#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#page1-content{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 20vh; */
}
nav{
    display: flex;
    width: 100%; 
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 3vw ;
    overflow: hidden;
}

nav h3{
    font-size: 1.4vw;
    font-weight: 100;
}

nav h4{
    font-size: 1.3vw;
    font-weight: 120;
}

#page1-content h1{
   
    display: flex; /* Ensures spans align horizontally */
    justify-content: center; /* Center aligns horizontally */
    align-items: center;
    font-family: rejoy;
    font-size: 25vw;
    margin: 0;
    margin-bottom: 5.4vh;
    
}

#page1-content h1 span {
    display: inline-block; 
    font-family: rejoy;
    
    transform: translateY(50px); 
   
}

#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 5vw 2.8vw;
}
#page2-top{

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1.2vw;
    margin-bottom: 1vw;
    border-bottom: 1px solid #00000092;
}

#page2-top h3{
    font-size: 1.7vw;
    font-weight: 500;
    width: 26%;
}

#page2-top h4{
    font-size: 1.7vw;
    font-weight: 500;
}

.elem{
    overflow: hidden;
    
}
.elem h1{
    
    font-size: 4.2vw;
    font-weight: 500;
}
